/* NAVIGATION
	1. Global
		- Variables
		- Font face
		- Base
	2. Layout
		- Colors
		- Backgrounds
		- Glyphs
*/

/*** 1. GLOBAL ***/

/* Variables
   ============================= */

:root {
	--font-family: 'Source Sans Pro', sans-serif;
	--color-white: #FFFFFF;
	--color-dark: #071629;
	--color-gray: opacity(#071629, 0.5);
	--color-primary: #C271FF;
}

/* Font
   ============================= */

@font-face {
	font-family: 'holberton_school-icon';
	src: url('fonts/holberton_school-icon.eot');
	src: url('fonts/holberton_school-icon.eot') format('embedded-opentype'),
	url('fonts/holberton_school-icon.ttf') format('truetype'),
	url('fonts/holberton_school-icon.woff') format('woff'),
	url('fonts/holberton_school-icon.svg') format('svg');
}

/* Base
   ============================= */

html {
	font-family: var(--font-family);
}

.btn, .btn:hover, .btn:focus {
	background-color: var(--color-primary);
	border-color: var(--color-primary);
}

.btn:hover, .btn:focus {
	opacity: 0.9;
}

/*** 2. LAYOUT ***/

/* Backgrounds
   ============================= */

.header {
	background-image: url('images/pic_1.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center top;
}

/* Colors
   ============================= */

.purple {
	color: var(--color-primary);
}

.gray {
	color: var(--color-gray);
}

.purple-bg {
	background-color: var(--color-primary);
}

.dark-bg {
	background-color: var(--color-dark);
}

/* Glyphs
   ============================= */

/* Navbar */

.navbar-icon:before {
	font-family: 'holberton_school-icon';
	content: "\e911";
	color: var(--color-white);
}

/* Footer */

.fb-icon:before {
	font-family: 'holberton_school-icon';
	content: "\e908";
	color: var(--color-white);
}

.twitter-icon:before {
	font-family: 'holberton_school-icon';
	content: "\e90f";
	color: var(--color-white);
}

.insta-icon:before {
	font-family: 'holberton_school-icon';
	content: "\e90a";
	color: var(--color-white);
}





#company-logo {
	width: 1.75rem;
}

#company-name {
	width: 10rem;
}




